# Configuration du Serveur
PORT=3000
NODE_ENV=development

# Configuration Base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=tiketmomo_db
# DB_PORT=3306

# Firebase Admin SDK (Laisser vide en développement si variables injectées ou pointer vers le fichier JSON)
# GOOGLE_APPLICATION_CREDENTIALS=./firebase-adminsdk.json

# MikroTik VPN (Exemple si nécessaire par la suite)
# MIKROTIK_CONNECT_TIMEOUT=5000
