# Configuration du Serveur
PORT=3000
NODE_ENV=development

# Configuration Base de données (Supabase)
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=votre_cle_publique_anon
SUPABASE_SERVICE_ROLE_KEY=votre_cle_de_service_secrete

# Firebase Admin SDK (Chemin vers votre fichier JSON de clé privée)
GOOGLE_APPLICATION_CREDENTIALS=./firebase-key.json

# FedaPay Security
FEDAPAY_SECRET_KEY=votre_cle_secrete_fedapay
FEDAPAY_WEBHOOK_SECRET=votre_secret_webhook

# Administration
ADMIN_FIREBASE_UID=votre_uid_firebase_pour_notifications_push

# MikroTik VPN (Future use)
# MIKROTIK_CONNECT_TIMEOUT=5000

